/* Common styles */

body {
  margin: 0px; /* Removes margin from the body*/
  font-family: "Roboto", sans-serif; /* Added as we have source link to Roboto*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", sans-serif;
}

#strength {
  text-align: center;
  font-size: 130%;
}
